<!-- nav -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
    <div class="container">
        <a routerLink="" class="navbar-brand">SITUS BELAJAR</a>
        <button 
        class="navbar-toggler"
        data-bs-toggle="collapse"
        data-bs-target="#navmenu">
        <span class="navbar-toggler-icon"></span>
        </button> 
    </div>
    
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a href="" class="nav-link">Instructor</a>
            </li>
            <li class="nav-item">
                <a routerLink="/courses" class="nav-link">All Course</a>
            </li>
        </ul>
    </div>
    <ng-container *ngIf="!onLoggedIn(); else isLoggedIn">
       <button type="button" routerLink="/auth/login" class="btn btn-primary"> LOGIN</button>y
    </ng-container>

    <ng-template #isLoggedIn>
        <button type="button" class="btn btn-primary btn-light login"
        (click)="onLoggedOut()">LOGOUT</button>
    </ng-template>
</nav>