<section
  id="instructors"
  class="bg-primary text-light p-5 text-sm-start"
>
  <div class="container">
    <div class="text-center">
      <h2>Our Instructors</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex rem
        molestiae blanditiis in architecto aut corrupti cum inventore? Ullam
        alias quibusdam laborum labore eligendi quae quas totam pariatur
        laboriosam commodi.
      </p>
    </div>

    <div class="row text-center g-4">
      <!-- item 1 -->
      <div class="col-md" *ngFor="let instructor of instructors">
        <div class="card bg-light text-dark">
          <div class="card-body text-center">
            <div class="mb-4">   
              <img 
                src="{{ instructor.img }}"
           
                alt=""
                class="rounded-circle mb-3"/>
              <h3 class="card-title mb-3">{{ instructor.name }}</h3>
              <!-- <h2>{{ instructor.socialMedia[0].link}}</h2>
              <h2>{{ instructor.socialMedia[0].icon }}</h2> -->
              <p> {{ instructor.desc }} </p>
              <a href="{{ sm.link }}" class="card-text" *ngFor="let sm of instructor.socialMedia">
                <i class="{{ sm.icon }} text-dark mx-1"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
