<section class="angular bg-dark text-light">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md p-5">
        <h4>
          <b>{{ aboutTitle }}</b>
        </h4>
        <p class="lead">
          {{ aboutDescLead }}
        </p>
        <p>
          {{ aboutDesc }}
        </p>
      </div>
      <div class="col-md">
        <img
          src="../../../../assets/images/angular.png"
          alt=""
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>
