<section class="p-5 mt-5 mb-5">
  <h1 class="text-center" style="font-weight: 700">TODO</h1>
  <h6 class="text-center">
    {{ today | dateCustom: "eeee, dd MMMM yyyy":locale }}
  </h6>
  <hr
    style="
      background-color: #000000;
      color: #000000;
      margin: auto;
      height: 8px;
      width: 40px;
    "
  />

  <div class="row">
    <div class="col p-5">
      <app-todo-list></app-todo-list>
    </div>
    <div class="col p-5">
      <app-todo-form></app-todo-form>
    </div>
  </div>
</section>
