<section class="d-flex p-5 text-center text-sm start mt-5">
    <div class="container text-center">
        <h3><strong><u>TODO</u></strong></h3><br>
        <div class="row">
            <div class="col"><app-list 
                [todosChild]="todosParent"
                (toggleTodo)="onToggleTodo($event)"
                (deleteTodo)="onDeleteTodo($event)">
                
            </app-list></div>
            <div class="col"><app-form (saveTodo)="onSaveTodo($event)"></app-form></div>
        </div>
    </div>
</section>