 <!-- boxes -->
 <section class="p-5">
    <div class="container"> 
        <div class="row class-center g-4">
            <div class="col-md" *ngFor="let services of onService" >
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <i class="icon {{services.icon}}" ></i>
                        </div>
                        <h3 class="card-title mb-3 ">{{services.title}}</h3>
                        <p class="card-text">{{services.message}}</p>
                            <a href="" class="btn btn-primary"> Read More</a>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md" *ngFor="let services of onService">
                <div class="card bg-light text-dark">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <i class="icon"{{services.icon}}></i>
                        </div>
                        <h3 class="card-title mb-3">{{services.title}}</h3>
                        <p class="card-text">{{services.message}}
                            <a href="" class="btn btn-primary"> Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md" *ngFor="let services of onService"> 
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <i class="icon" {{services.icon}}></i>
                        </div>
                        <h3 class="card-title mb-3">{{services.title}}</h3>
                        <p class="card-text">{{services.message}}
                            <a href="" class="btn btn-primary"> Read More</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
