<section class="p-5">
    <h1 class="text-primary">Child</h1>
    <h1>{{title}}</h1>
    <h1>{{count}}</h1>

    <div class="btn-group">
        <button class="btn btn-outline-primary"(click)="onIncrease()">+</button>
        <button class="btn btn-outline-danger"(click)="onDecrease()">-</button>
    </div>

    <!-- <div class="mb-5">
        <input type="text" class="form-control" (change)="MessageInput($event)">
      </div> -->
      <div class="mb-5">
        <input type="text" class="form-control" (change)="onMessageInputMandirian($event)">
      </div>
      <!-- s -->
</section>