<section
  id="learn"
  class="bg-dark text-light p-5 text-center text-sm-start"
>
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content">
      <div>
        <h3 class="text-primary">{{ about.title }}</h3>
        <p class="h5">
          {{ about.headline }}
        </p>
        <p class="load my-4">
          {{ about.desc }}
        </p>
        <a href="" class="btn btn-primary">
          <i class="bi bi-chevron-right"></i>Read More
        </a>
      </div>
      <img
        src="../../../../../assets/images/angular.png"
        alt="Angular"
        class="img-fluid w-50 d-none d-sm-block"
      />
    </div>
  </div>
</section>
