<section class="bg-primary text-light p-5 pt-lg-5 text-sm-start" id="contactus">
  <div class="container">
    <div class="row g-4 d-flex align-items-center">
      <!-- left -->
      <div class="col-md offset-md-2">
        <!-- contact info -->
        <table class="table mt-3">
          <thead class="text-center text-light"><h3>Contact Info</h3></thead>
          <tbody class="m-5 text-light">
            <tr>
              <td><strong>Main Location:</strong> Rumahmu A-2 No 37</td>
            </tr>
            <tr>
              <td><strong>Enrollment Phone:</strong> (021) 781-8976</td>
            </tr>
            <tr>
              <td><strong>Student Phone:</strong> +62 897-3457-9876</td>
            </tr>
            <tr>
              <td>
                <strong>Enrollment Email:</strong> belajar@bankmandiri.co.id
              </td>
            </tr>
            <tr>
              <td><strong>Student Email:</strong> student@frontendbm.co.id</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- right -->
      <div class="col-md">
        <!-- map -->
        <div class="mapouter">
          <div class="gmap_canvas">
            <iframe
              width="400"
              height="400"
              id="gmap_canvas"
              src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
