<section
  class="bg-dark text-light p-5 pt-lg-5 text-center text-sm-start mt-5"
  id="home"
>
  <!-- biar ngasih margin -->
  <div class="container">
    <!-- naro content di tengah -->
    <div class="d-sm-flex align-items-center justify-content">
      <div>
        <h1>Become a <span class="text-warning">Web Developer</span></h1>
        <p class="load my-4">
          {{ tagline }}
        </p>
        <button
          class="btn btn-primary btn-lg"
          data-bs-target="#enroll"
          data-bs-toggle="modal"
        >
          Start Enrollment
        </button>
      </div>
      <img
        src="../../../../../assets/images/computer.png"
        alt=""
        class="img-fluid w-50 d-none d-sm-block"
      />
    </div>
  </div>
</section>
