<section class="container mt-5 p-5">
  <h4>Form</h4>
<div class="shadow-sm p-3 mb-5 bg-body rounded">
  <div class="card-body">
    <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
      <div class="input-group mb-3">
        <div class="input-group-text">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="isCompleted"
          />
        </div>
        <input
          type="text"
          class="form-control"
          [ngClass]="{ 'is-invalid': isFormValid('name') }"
          placeholder="Todo"
          aria-label="Todo"
          formControlName="name"
        />
        <button class="btn btn-outline-primary" [disabled]="!todoForm.valid">
          <i class="bi bi-save"></i> Simpan
        </button>
        <button class="btn btn-outline-warning">
          <i class="bi bi-arrow-left" routerLink="/todo"></i> Kembali
        </button>
      </div>
      <app-validation-message
        [control]="todoForm.get('name')"
        [field]="'todo'"
      ></app-validation-message>
    </form>
  </div>
</div>
</section>