<section class="text-dark p-5 test-sm-start bg-light mt-5" id="courses">
  <div class="container">
    <div class="text-center">
      <h2>Learn something new!</h2>
    </div>
    <div class="align-items-center">
      <div class="row g-4 mb-2 mt-2">
        <div class="col-md-4">
          <div class="card bg-light text-dark">
            <img
              src="../../../../../assets/images/js.png"
              class="img-fluid"
              alt="img1"
            />

            <div class="card-body">
              <div class="row g-4">
                <div class="col-md-12">
                  <p>Mandiri iLearn</p>
                  <h5>Javascript is Fum</h5>
                  <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut
                    eius voluptas soluta quia quo, nam, laboriosam, quam cum
                    omnis unde esse corporis perspiciatis illo maiores
                    voluptates ipsa quae illum odit?
                  </p>
                </div>
                <div class="col-md-7">
                  <div class="progress">
                    <div
                      class="progress-bar bg-warning"
                      role="progressbar"
                      style="width: 66%"
                      aria-valuenow="25"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                  <p>Intermediate</p>
                </div>
                <div class="col-md-5 text-center">
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#showMoreModal"
                    style="width: 100%"
                  >
                    Preview<i class="bi bi-chevron-right"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-light text-dark">
            <img
              src="../../../../../assets/images/angular-course.png"
              class="img-fluid"
              alt="img1"
            />

            <div class="card-body">
              <div class="row g-4">
                <div class="col-md-12">
                  <p>Mandiri iLearn</p>
                  <h5>Angular is Fum</h5>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Odit, perferendis facilis, deserunt eos tempore minus culpa
                    cupiditate mollitia sed iure a assumenda voluptatem id
                    nesciunt magni fugit neque porro nemo.
                  </p>
                </div>
                <div class="col-md-7">
                  <div class="progress">
                    <div
                      class="progress-bar bg-success"
                      role="progressbar"
                      style="width: 33%"
                      aria-valuenow="25"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                  <p>Beginner</p>
                </div>
                <div class="col-md-5">
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#showMoreModal"
                    style="width: 100%"
                  >
                    Preview<i class="bi bi-chevron-right"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-light text-dark">
            <img
              src="../../../../../assets/images/ionic.png"
              class="img-fluid"
              alt="img1"
            />
            <div class="card-body">
              <div class="row g-4">
                <div class="col-md-12">
                  <p>Mandiri iLearn</p>
                  <h5>Ionic is Fum</h5>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quibusdam architecto eius et modi commodi necessitatibus
                    voluptate placeat amet eveniet! Voluptatum libero,
                    laboriosam quibusdam saepe pariatur harum eligendi illo
                    commodi non.
                  </p>
                </div>
                <div class="col-md-7">
                  <div class="progress">
                    <div
                      class="progress-bar bg-danger"
                      role="progressbar"
                      style="width: 100%"
                      aria-valuenow="25"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                  <p>Advanced</p>
                </div>
                <div class="col-md-5">
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#showMoreModal"
                    style="width: 100%"
                  >
                    Preview<i class="bi bi-chevron-right"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-light text-dark">
            <img
              src="../../../../../assets/images/python.png"
              class="img-fluid"
              alt="img1"
            />

            <div class="card-body">
              <div class="row g-4">
                <div class="col-md-12">
                  <p>Mandiri iLearn</p>
                  <h5>Python is Fum</h5>
                  <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut
                    eius voluptas soluta quia quo, nam, laboriosam, quam cum
                    omnis unde esse corporis perspiciatis illo maiores
                    voluptates ipsa quae illum odit?
                  </p>
                </div>
                <div class="col-md-7">
                  <div class="progress">
                    <div
                      class="progress-bar bg-success"
                      role="progressbar"
                      style="width: 33%"
                      aria-valuenow="25"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                  <p>Beginner</p>
                </div>
                <div class="col-md-5 text-center">
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#showMoreModal"
                    style="width: 100%"
                  >
                    Preview<i class="bi bi-chevron-right"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-light text-dark">
            <img
              src="../../../../../assets/images/gatsby.png"
              class="img-fluid"
              alt="img1"
            />

            <div class="card-body">
              <div class="row g-4">
                <div class="col-md-12">
                  <p>Mandiri iLearn</p>
                  <h5>Gatsby is Fum</h5>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Odit, perferendis facilis, deserunt eos tempore minus culpa
                    cupiditate mollitia sed iure a assumenda voluptatem id
                    nesciunt magni fugit neque porro nemo.
                  </p>
                </div>
                <div class="col-md-7">
                  <div class="progress">
                    <div
                      class="progress-bar bg-danger"
                      role="progressbar"
                      style="width: 100%"
                      aria-valuenow="25"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                  <p>Advanced</p>
                </div>
                <div class="col-md-5">
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#showMoreModal"
                    style="width: 100%"
                  >
                    Preview<i class="bi bi-chevron-right"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-light text-dark">
            <img
              src="../../../../../assets/images/php.png"
              class="img-fluid"
              alt="img1"
            />
            <div class="card-body">
              <div class="row g-4">
                <div class="col-md-12">
                  <p>Mandiri iLearn</p>
                  <h5>PHP is Fum</h5>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quibusdam architecto eius et modi commodi necessitatibus
                    voluptate placeat amet eveniet! Voluptatum libero,
                    laboriosam quibusdam saepe pariatur harum eligendi illo
                    commodi non.
                  </p>
                </div>
                <div class="col-md-7">
                  <div class="progress">
                    <div
                      class="progress-bar bg-warning"
                      role="progressbar"
                      style="width: 66%"
                      aria-valuenow="25"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                  <p>Advanced</p>
                </div>
                <div class="col-md-5">
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#showMoreModal"
                    style="width: 100%"
                  >
                    Preview<i class="bi bi-chevron-right"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-light text-dark">
            <img
              src="../../../../../assets/images/html3.png"
              class="img-fluid"
              alt="img1"
            />

            <div class="card-body">
              <div class="row g-4">
                <div class="col-md-12">
                  <p>Mandiri iLearn</p>
                  <h5>HTML3 is Fum</h5>
                  <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut
                    eius voluptas soluta quia quo, nam, laboriosam, quam cum
                    omnis unde esse corporis perspiciatis illo maiores
                    voluptates ipsa quae illum odit?
                  </p>
                </div>
                <div class="col-md-7">
                  <div class="progress">
                    <div
                      class="progress-bar bg-success"
                      role="progressbar"
                      style="width: 33%"
                      aria-valuenow="25"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                  <p>Beginner</p>
                </div>
                <div class="col-md-5 text-center">
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#showMoreModal"
                    style="width: 100%"
                  >
                    Preview<i class="bi bi-chevron-right"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-light text-dark">
            <img
              src="../../../../../assets/images/maps.png"
              class="img-fluid"
              alt="img1"
            />

            <div class="card-body">
              <div class="row g-4">
                <div class="col-md-12">
                  <p>Mandiri iLearn</p>
                  <h5>Maps is Fum</h5>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Odit, perferendis facilis, deserunt eos tempore minus culpa
                    cupiditate mollitia sed iure a assumenda voluptatem id
                    nesciunt magni fugit neque porro nemo.
                  </p>
                </div>
                <div class="col-md-7">
                  <div class="progress">
                    <div
                      class="progress-bar bg-danger"
                      role="progressbar"
                      style="width: 100%"
                      aria-valuenow="25"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                  <p>Advanced</p>
                </div>
                <div class="col-md-5">
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#showMoreModal"
                    style="width: 100%"
                  >
                    Preview<i class="bi bi-chevron-right"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-light text-dark">
            <img
              src="../../../../../assets/images/python.png"
              class="img-fluid"
              alt="img1"
            />
            <div class="card-body">
              <div class="row g-4">
                <div class="col-md-12">
                  <p>Mandiri iLearn</p>
                  <h5>Python is Fum</h5>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quibusdam architecto eius et modi commodi necessitatibus
                    voluptate placeat amet eveniet! Voluptatum libero,
                    laboriosam quibusdam saepe pariatur harum eligendi illo
                    commodi non.
                  </p>
                </div>
                <div class="col-md-7">
                  <div class="progress">
                    <div
                      class="progress-bar bg-warning"
                      role="progressbar"
                      style="width: 33%"
                      aria-valuenow="25"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                  <p>Intermediate</p>
                </div>
                <div class="col-md-5">
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#showMoreModal"
                    style="width: 100%"
                  >
                    Preview<i class="bi bi-chevron-right"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="showMoreBtn" class="d-grid col-3 mx-auto mt-4">
        <button
          class="btn btn-outline-primary"
          type="button"
          onclick="onToggleShowMore()"
        >
          Show More
        </button>
      </div>
    </div>
  </div>
</section>
